.profile {
  padding-top: 36.25px;
  padding-bottom: 47.25px;
  display: flex;
  align-items: center;
}

.profile__picture {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin-right: 24.375px;
}

.profile__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.profile__name {
  display: flex;
  grid-area: title;
  justify-content: flex-start;
}

.profile__name-title {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 18px;
}

.profile__name-button {
  background: transparent url(../images/pen.svg) center no-repeat;
  height: 24px;
  width: 24px;
  border: white 1px solid;
  align-self: center;
}

.profile__description {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  grid-area: description;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-button {
  background: transparent url(../images/plus.svg) center no-repeat;
  height: 50px;
  width: 150px;
  border-radius: 2px;
  border: white 2px solid;
  margin-left: auto;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 895px) {
  .profile {
    flex-direction: column;
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .profile__info {
    text-align: center;
    gap: 14px;
  }

  .profile__picture {
    margin: 2px 0 26.25px;
  }

  .profile__name {
    align-self: center;
  }

  .profile__name-title {
    font-size: 22px;
    line-height: 1.2;
    padding-right: 10px;
  }

  .profile__name-button {
    height: 18px;
    width: 18px;
  }

  .profile__description {
    font-size: 14px;
    align-self: center;
  }

  .profile__add-button {
    width: 100%;
    max-width: 581px;
    margin: 36px auto 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 595px) {
  .profile__add-button {
    max-width: 282px;
  }
}
