.card {
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 10px;
  list-style: none;
  overflow: hidden;
}

.card_invisible {
  display: none;
}

.card__image {
  height: 282px;
}

.card__image:hover {
  cursor: pointer;
  opacity: 0.8;
  filter: blur(5px);
}

.card__info {
  background-color: white;
  color: black;
}

.card__description {
  padding: 0px 20px;
  background-color: #22232c;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
}

.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  max-width: 220px;
  margin: 25px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__likes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__like-button {
  background: transparent url(../images/heart.svg) no-repeat center;
  filter: invert(1);
  width: 21px;
  height: 19px;
  border: none;
  margin-bottom: 3px;
}

.card__likes-counter {
  width: 9px;
  height: 13px;
  flex-shrink: 0;
  color: #ffffff;
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  align-self: center;
  margin: 0;
}

.card__like-button_active {
  background: transparent url(../images/active-heart.png) no-repeat center;
  width: 21px;
  border: none;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__trash-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent url(../images/Trash.png) no-repeat center;
  width: 18px;
  height: 19.3px;
  border: none;
}

.card__trash-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
