.card {
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 10px;
  list-style: none;
  overflow: hidden;
}

.card__image {
  height: 282px;
}

.card__image:hover {
  cursor: pointer;
  opacity: 0.6;
}

.card__info {
  background-color: white;
  color: black;
}

.card__description {
  padding: 0px 20px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
}

.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  max-width: 220px;
  margin: 25px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url(../images/heart.svg) no-repeat center;
  width: 21px;
  border: none;
}

.card__like-button_active {
  background: transparent url(../images/active-heart.png) no-repeat center;
  width: 21px;
  border: none;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__trash-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent url(../images/Trash.png) no-repeat center;
  width: 18px;
  height: 19.3px;
  border: none;
}

.card__trash-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
