.confirm-delete-popup__container {
  color: #000;
  background-color: #fff;
  height: 181px;
  width: 430px;
  position: absolute;
  top: 195px;
  border-radius: 10px;
}

.confirm-delete-popup__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: black;
  margin: 34px 36px 38px;
  height: 23px;
}

.confirm-delete-popup__submit-button {
  color: #fff;
  width: 358px;
  height: 50px;
  margin: 0 36px 36px;
  padding: 0;
  background-color: black;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
