.page {
  background-color: rgb(11, 20, 18);
  background-image: url(https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2093&q=80);
  color: white;
  min-height: 100vh;
}

.page__section {
  max-width: 880px;
  margin: 0 auto;
}
