.profile {
  padding-top: 36.25px;
  padding-bottom: 47.25px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.profile__picture-container {
  position: relative;
  height: 120px;
  width: 120px;
  margin-right: 24.375px;
}

.profile__picture-overlay {
  display: flex;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 40%;
  height: 120px;
  width: 120px;
  top: 0;
  left: 0;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile__picture-edit-icon {
  position: relative;
  align-self: center;
  height: 26px;
  width: 26px;
  transition: opacity 0.3s ease;
}

.profile__picture-container:hover .profile__picture-overlay {
  cursor: pointer;
  opacity: 1;
}

.profile__picture-container:hover .profile__picture-edit-icon {
  cursor: pointer;
  opacity: 1;
}

.profile__picture {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
}

.profile__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.profile__name {
  display: flex;
  justify-content: flex-start;
}

.profile__name-title {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 18px;
  max-width: 530px;
}

.profile__name-button {
  background: transparent url(../images/pen.svg) center no-repeat;
  height: 24px;
  width: 24px;
  border: white 1px solid;
  align-self: center;
}

.profile__about {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 580px;
}

.profile__name-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-button-container {
  margin-left: auto;
}

.profile__add-button {
  background: transparent url(../images/plus.svg) center no-repeat;
  height: 50px;
  width: 150px;
  border-radius: 2px;
  border: white 2px solid;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__show-duplicates {
  margin-top: 12px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 165x;
  line-height: 1.2;
  font-weight: 300;
  cursor: pointer;
}

.profile__show-duplicates:hover {
  color: rgb(115, 144, 160);
}

.profile__show-duplicates input[type="checkbox"],
.profile__show-duplicates label {
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 895px) {
  .profile {
    flex-direction: column;
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .profile__info {
    text-align: center;
    gap: 14px;
  }

  .profile__picture-container {
    margin: 2px 0 26.25px;
  }

  .profile__name {
    align-self: center;
  }

  .profile__name-title {
    font-size: 22px;
    line-height: 1.2;
    padding-right: 10px;
  }

  .profile__name-button {
    height: 18px;
    width: 18px;
  }

  .profile__about {
    font-size: 16px;
    align-self: center;
  }

  .profile__add-button-container {
    margin: 36px auto 0;
  }

  .profile__add-button {
    width: 100%;
    max-width: 581px;
  }
}

@media screen and (min-width: 320px) and (max-width: 595px) {
  .profile__add-button {
    max-width: 282px;
  }

  .profile__name {
    max-width: 90vw;
  }

  .profile__about {
    max-width: 90vw;
  }
}
